/* Estilos globales */

:root {
  --color-lila: #9D4EDD;
  --color-celeste: #3A86FF;
  --color-lila-claro: #E0AAFF;
  --color-celeste-claro: #90E0FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
}

main {
  width: 100%;
}
